.dark {
    background-color: rgb(32,34,37);
}

.projects {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.project {
    width: 460px;
    height: 270px;
    border: 2px solid lightblue;
    border-radius: 15px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.luaproject {
    border-color: lightblue;
}

.luaproject h1 {
    color: lightblue;
}

.jsproject {
    border-color: lightsalmon;
}

.jsproject h1 {
    color: lightsalmon;
}

.projecttitle {
   text-align: center;
   color: lightblue; 
}

.projectdescription {
    text-align: center;
    color: white;
    height: 80px;
    width: 440px;
    margin-left: 10px;
}

.dot {
    border-radius: 8px;
    height: 25px;
    margin-left: 10px;
    text-align: center;
    line-height: 25px;
}

.dottext {
    margin-left: 30px;
    font-size: 14px;
}

.inline {
    display: inline;
}

.github {
    margin-left: 170px;
    margin-top: -20px;
}

.githubimg {
    width: 20px;
}

.githublink {
    margin-left: 10px;
    font-size: 14px;
    color: lightblue;
    vertical-align: 5px;
}

.lua {
    background-color: blue;
    width: 50px;
}

.js {
    background-color: orange;
    width: 100px;
}

.langs {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.websiteb {
    text-decoration: none;
    color: white;
    background-color: rgb(47,49,54);
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s;    
}

.websiteb img {
    width: 25px;
    margin-top: 8px;
    margin-left: 8px;
}

.websiteb div {
    margin-left: 45px;
    margin-top: -25px;
}

.websiteb:hover {
    background-color: rgba(216, 231, 10, 0.76);
}

.githubb {
    text-decoration: none;
    color: white;
    background-color: rgb(47,49,54);
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s;    
}

.githubb img {
    width: 33px;
    margin-top: 4px;
    margin-left: 8px;
}

.githubb div {
    margin-left: 55px;
    margin-top: -28px;
}

.discordb {
    text-decoration: none;
    color: white;
    background-color: rgb(47,49,54);
    width: 120px;
    height: 40px;
    display: inline-block;
    margin-top: 10px;
    margin-left: 10px;
    transition: 0.5s;    
}

.discordb img {
    width: 33px;
    height: 33px;
    margin-top: 4px;
    margin-left: 8px;
}

.discordb div {
    margin-left: 50px;
    margin-top: -28px;
}

.discordb:hover {
    background-color: rgba(216, 231, 10, 0.76);
}

.githubb:hover {
    background-color: rgba(216, 231, 10, 0.76);
}

.buttons {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.jsline {
    border-color: lightsalmon;
}

.lualine {
    border-color: lightblue;
}

.htmlproject {
    border-color: lightcoral;
}

.htmlproject h1 {
    color: lightcoral;
}

.htmlline {
    border-color: lightcoral;
}

.html {
    background-color: rgb(255, 74, 74);
    width: 70px;
}

.css {
    background-color: rgb(0, 128, 145);
    width: 60px;
}

.node {
    background-color: rgb(0, 145, 56);
    width: 80px;
}

.hidden {
    display: none;
}

@media (max-width: 550px) {
    .project {
        width: 100%;
        height: 270px;
        border: 2px solid lightblue;
        border-radius: 15px;
        margin-right: 20px;
        margin-bottom: 20px;     
    }

    .projectdescription {
        text-align: center;
        color: white;
        height: 80px;
        width: 98%;
        margin-left: 10px;
    }
    
  }

.fadein {
    animation: fadeIn 2s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.lower {
    height: 250px;
}