body {
    background-color: rgb(32,34,37);
    color: #FFFFFF;
    font-family: "Helvetica", "Verdana";
    margin: 0 0 0 0;
}

h1 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    font-size: 100px;
} 
